@media (max-width: 648px) {
  .ticket-app__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .ticket-app__left {
    width: 100%;
    /* margin: 0 auto; */
  }
  .ticket-app__right {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .ticket-app__instruction {
    width: 100%;
  }
  .seats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
  .info {
    width: 100%;
    display: block;
    min-height: auto;
  }
  .info .test {
    min-width: 100%;
    display: block;
  }
}
